<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parkinsons</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <h2>Heart Failure Prediction</h2>
    <p id="prediction">{{prediction_text}}</p>

    <div class="main-container">
      <form action="{{ url_for('predict')}}" method="post">
        <div class="inp-group">
          <label for="Age">Age</label>
          <input type="number" id="Age" name="Age" /><br />
        </div>
        <div class="inp-group">
          <label for="Sex">Sex</label>
          <select name="Sex" id="Sex">
            <option value="1">M</option>
            <option value="2">F</option></select
          ><br />
        </div>
        <div class="inp-group">
          <label for="ChestPainType">ChestPainType</label>
          <select name="ChestPainType" id="ChestPainType">
            <option value="1">ATA</option>
            <option value="2">NAP</option>
            <option value="0">ASY</option>
            <option value="3">TA</option></select
          ><br />
        </div>
        <div class="inp-group">
          <label for="RestingBP">RestingBP</label>
          <input type="number" id="RestingBP" name="RestingBP" /><br />
        </div>
        <div class="inp-group">
          <label for="Cholesterol">Cholesterol</label>
          <input
            type="number"
            id="Cholesterol"
            name="Cholesterol"
          /><br />
        </div>
        <div class="inp-group">
          <label for="FastingBS">FastingBS</label>
          <input
            type="number"
            id="FastingBS"
            name="FastingBS"
          /><br />
        </div>
        <div class="inp-group">
          <label for="RestingECG">RestingECG</label>
          <select name="RestingECG" id="RestingECG">
            <option value="1">Normal</option>
            <option value="2">ST</option>
            <option value="0">LVH</option>
          </select><br />
        </div>
        <div class="inp-group">
            <label for="MaxHR">MaxHR</label>
            <input
              type="number"
              id="MaxHR"
              name="MaxHR"
            /><br />
          </div>
        <div class="inp-group">
          <label for="ExerciseAngina">ExerciseAngina</label>
          <input
            type="number"
            id="ExerciseAngina"
            name="ExerciseAngina"
          /><br />
        </div>
        <div class="inp-group">
          <label for="Oldpeak">Oldpeak</label>
          <input
            step="0.1"
            type="number"
            id="Oldpeak"
            name="Oldpeak"
          /><br />
        </div>
        <div class="inp-group">
          <label for="ST_Slope">ST_Slope</label>
          <select name="ST_Slope" id="ST_Slope">
            <option value="2">Up</option>
            <option value="1">Flat</option>
            <option value="0">Down</option>
          ></select><br />
        </div>

        <center><button class="btn" type="submit">Predict</button></center>
      </form>
    </div>
  <h3>Description</h3>
    <p class="symptom-card desc">Heart failure is a chronic, progressive condition in which the heart muscle is unable to pump enough blood to meet the body’s needs for blood and oxygen. Basically, the heart can’t keep up with its workload.</p>
    <h3>Signs & Symptoms</h3>
    <div class="symptom-list">
      <p class="symptom-card">shortness of breath</p>
      <p class="symptom-card">cough</p>
      <p class="symptom-card">swelling of legs/ abdomen</p>
      <p class="symptom-card">fatigue</p>
      <p class="symptom-card">lack of appetite</p>
      <p class="symptom-card">confusion</p>
      <p class="symptom-card">increased heart rate</p>
    </div>
  </body>
</html>
